# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
env*/
.venv/

# IDEs and editors
.idea/
.vscode/
*.swp

# Miscellaneous
*.DS_Store
*.log
config
tmp
